@charset "UTF-8";

* {
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    position: relative;
}
body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family:'Microsoft Yahei';
    background: #3e364e;
    -webkit-user-select: none;
}

button, input, textarea, select {
    outline: none;
}

button, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
